[Desktop Entry]
Type=Application
Name=Foot Terminal
Comment=Wayland terminal emulator
Exec=foot
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Terminal=false
